.containerPane {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
}

.leftOpac{
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.1);
    transition: transform 0 ease-in-out;
}

.rightpane {
    height: 100%;
    width: 25%;
    background-color: white;
    border-left: 1px #edeced solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.closeIcon{
    width: 30px;
    height: 30px;
    color: #757575;
}
.closeBtn{
    position:absolute;
    right:20px;
    top:20px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.1s;
}
.closeBtn:hover {
    scale: 1.1;
}
.closeBtn:active{
    scale:0.95;
}
.userImg{
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin-top: 80px;
    border: 2px solid grey;
}
.Details h1{
    font-weight: 600;
    font-size: 2.0em;
}
.Details span{
    font-weight: 300;
    font-size: 1em;
    opacity: 0.6;
    margin-left: 20px;
}